# mdbook files
book
book/* 
theme/index.hbs
theme/pagetoc.css
theme/pagetoc.js
theme/* 
theme 

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log

# ---------------
# Compiled assets
# ---------------
.sass-cache
_site

# ----------
# Docusaurus
# ----------
.docusaurus
build
dist

# ----------
# Developing
# ----------
todo.md
.vscode 
