<html>

<head>
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background: #333;
                color: white;
            }

            a {
                color: skyblue;
            }
        }

        .container {
            font-family: sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }

        .intro {
            text-align: center;
        }

        .licenses-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .license-used-by {
            margin-top: -10px;
        }

        .license-text {
            max-height: 200px;
            overflow-y: scroll;
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="intro">
            <h1>Open Source Libraries Licenses</h1>
            <p>This page lists the licenses of the projects used in nymvpn app.</p>
        </div>
