Package: nym-repo-setup
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: apt (>= 1.0.0)
Maintainer: Nym Technologies SA <contact@nymtech.net>
Description: Setup script to add the Nym repository
 This package adds the Nym repository and installs the GPG key for verifying package signatures.
