[Unit]
Description=NYM Gateway

[Service]
User=nym
ExecStart=/usr/local/bin/nym-gateway --id gateway -p 1789,1790,9000
LimitNOFILE=65535
Restart=on-failure

[Install]
WantedBy=multi-user.target

