CONFIGURED=true

NETWORK_NAME=nymtestnetwork

RUST_LOG=info
RUST_BACKTRACE=1

BECH32_PREFIX=n
MIX_DENOM=unym
MIX_DENOM_DISPLAY=nym
STAKE_DENOM=unyx
STAKE_DENOM_DISPLAY=nyx
DENOMS_EXPONENT=6

MIXNET_CONTRACT_ADDRESS=
VESTING_CONTRACT_ADDRESS=
GROUP_CONTRACT_ADDRESS=
ECASH_CONTRACT_ADDRESS=
MULTISIG_CONTRACT_ADDRESS=
COCONUT_DKG_CONTRACT_ADDRESS=

REWARDING_VALIDATOR_ADDRESS=
NYXD="https://localhost:26656"
NYM_API="https://insertvalues.io"
NYXD_WS="wss://insertvalues.io"