
/* DARK MODE */

/*General*/
html.dark > body > div {
    background-color: #121726;
 }  

.dark footer, .dark nav {
    background-color: #121726 !important;
 }  

 .dark div .nx-sticky {
    background-color: #121726 !important;
}


/* Code blocks*/
.nx-absolute.nx-top-0 {
    background: #fb6e4e !important;
}


/* LIGHT MODE */

.nextra-code-block > div {
    background: #eee;
}

.nextra-code-block > pre {
    max-height: 350px;
    scroll-y: auto;
}


