@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Regular */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Lato/Lato-Regular.ttf) format('truetype');
  }
  /* Regular italic */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(assets/fonts/Lato/Lato-Italic.ttf) format('truetype');
  }
  /* Medium */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/Lato/Lato-Medium.ttf) format('truetype');
  }
  /* Semi-bold */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/Lato/Lato-Semibold.ttf) format('truetype');
  }
  /* Bold */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/Lato/Lato-Bold.ttf) format('truetype');
  }

  /* icon font */
  @font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/MaterialSymbolsOutlined.woff2) format('woff2');
  }
}
