$color-white:     white;
$color-black:     black;
$color-gray:      #646464;
$color-gray-dark: #252525;
$color-gray-light: #8C8C8C;

$color-blue:   #148EFF;
$color-red:    #F44C3B;
$color-orange: #F2A228;
