@font-face {
  font-family: 'akkurat-mono';
  src: url('/fonts/akkurat-mono.woff2') format('woff2'),
       url('/fonts/akkurat-mono.woff')  format('woff'),
       url('/fonts/akkurat-mono.otf')   format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik-light.woff2') format('woff2'),
       url('/fonts/graphik-light.woff')  format('woff'),
       url('/fonts/graphik-light.otf')   format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik-regular.woff2') format('woff2'),
       url('/fonts/graphik-regular.woff')  format('woff'),
       url('/fonts/graphik-regular.otf')   format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik-medium.woff2') format('woff2'),
       url('/fonts/graphik-medium.woff')  format('woff'),
       url('/fonts/graphik-medium.otf')   format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik-semibold.woff2') format('woff2'),
       url('/fonts/graphik-semibold.woff')  format('woff'),
       url('/fonts/graphik-semibold.otf')   format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
