@import "viewports.css.scss";
@import "colors.css.scss";
@import "fonts.css.scss";
@import "typography.css.scss";
@import "mixins.css.scss";

footer[role=contentinfo] {
  @include font-mono();
  background: $color-gray-dark;
}

.copyright { text-align: center; }

@media (min-width: $layout-breakpoint-sm) {
  .copyright { text-align: right; }
}
