@import "viewports.css.scss";
@import "colors.css.scss";
@import "fonts.css.scss";
@import "typography.css.scss";
@import "mixins.css.scss";

body {
  background: $color-black;
  color: $color-white;
  @include text-body();
  quotes: "“" "”";
}

// Links
a,
a:hover {
  color: $color-white;
  text-decoration: none;
}

a:hover { border-bottom: 1px solid $color-white; }

.event-link {
  color: $color-blue;
}

a.more-link,
a.more-link:hover,
a.more-link:visited {
  color: $color-blue;
  text-transform: uppercase;
  @include font-mono();
}

a.more-link:hover {
  border-bottom: none;
  text-decoration: underline;
}

// Images
img { width: 100%; }

.brand,
.icon { width: auto; }

.brand:hover,
.icon:hover { border: none; }

// Horizontal rules
hr {
  border: 1px solid $color-white;
  opacity: 0.2;
}
