@import "viewports.css.scss";
@import "colors.css.scss";
@import "fonts.css.scss";
@import "typography.css.scss";
@import "mixins.css.scss";

.lang {
    float: right;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 1.2em;   
}

figure.paper {
    overflow: hidden;
}

figure.paper img {
    margin-bottom: -25%;
}

#hero {
  padding: 11rem 0;
}

#nav-small {
#hero {
  padding: 4rem 0;
}
}


.blurb a {
    color: #148EFF;
    font-family: "akkurat-mono", "SF Mono", "Inconsolata-g", "Inconsolata-dz", Menlo, Consolas, Monaco, monospace, monospace;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
}

button.see-more {
    /*margin-top: -2em;*/
    width: 100%;
}

.collapse:not(.show) {
    height: 350px !important;
    overflow: hidden;
    display: -webkit-box;
}

.collapsing {
    min-height: 350px !important;
}

button.see-more.collapsed:after  {
    content: '+ See More';
}

button.see-more:not(.collapsed):after {
    content: '- See Less';
}

.paper-snippet:before {
    content: "\2192";
}

ul.date {
    margin-bottom: 1em;
    list-style: none;
}

// Sections
.section-title {
  border-bottom: 5px solid $color-gray;
  margin-bottom: 34px;

  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container.scroll {
    height: 250px;
    overflow: hidden;
}

.row.scroll {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

// Backgrounds
.fade-in-out-container {
  @include gradient-fade-in-fade-out();
  padding: 10rem 0;
}

.fade-in-out-container-soft {
  @include gradient-fade-in-fade-out($starting_opacity: 0.7);
}

#protocol  { @include cover-background-image("/images/backgrounds/protocol.jpg") }
#operators { @include cover-background-image("/images/backgrounds/operators.jpg") }
#quotes    { @include cover-background-image("/images/backgrounds/quotes.jpg") }

// Icons
.icon-cornered-container { position: relative; }

.icon-cornered {
  position: absolute;
  bottom: 14px;
  right:  16px;
}

.icon-youtube  { height: 20px; }
.icon-linkedin { filter: invert(1); width:  20px; }

@media (max-width: $layout-breakpoint-lg) {
    .icon-cornered.icon-linkedin { position: inherit; }
    button.see-more { margin-top: 0; }
}

// Section: Protocol
#protocol {
  .icon-youtube  { height: 47px; }
  .video-caption { margin-top: 18px; }
}

// Section: Team
.team {
    margin-left: 3em;
    margin-right: 3em;
}

.person-card {
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

// Section: Quotes

#quotes {
    // Quotes
  blockquote {
    font-size: 2em;
    line-height: 1.3em;
  }

  blockquote:before { content: open-quote;  }
  blockquote:after  { content: close-quote; }

  .media-image { width: 66px; }
  .media-title { font-size: 18px; }

  .carousel-inner { height: 600px; }
  .carousel-control-prev { left: -6em; }
  .carousel-control-next { right: -6em; }
  .carousel-control-next-icon { position: absolute; top: -2em; }
  .carousel-control-prev-icon { position: absolute; top: -2em; }
  @media (max-width: $layout-breakpoint-lg) {
      blockquote {
          font-size: 1.5em;
      }
      .carousel-control-prev { left: 0; }
      .carousel-control-next { right: 0; }
  }
  .carousel-control-prev:hover { border: none; }
  .carousel-control-next:hover { border: none; }
}

// Section: FAQ
#faq {
  .faq-nav-item {
    // Chevron icon (>) treatement in FAQ nav item
            .icon-chevron-right { opacity: .2; }
    &:hover .icon-chevron-right { opacity: .5; }

    // Selected FAQ nav item
    &.current { a, .icon-chevron-right { opacity: 1;  color: white; } }
  }

  .faq-q { color: $color-red; }
}

// Section: Updates
.social-media-icon:hover { border: none; }

// Section: Jobs
@media (min-width: $layout-breakpoint-md) {
  .btn-block { width: 75%; }
}
