@import "viewports.css.scss";
@import "colors.css.scss";
@import "fonts.css.scss";
@import "typography.css.scss";
@import "mixins.css.scss";

#home nav[role=navigation] { @include cover-background-image("/images/backgrounds/hero.png") }

.subnav, .mainnav {
    height: 50%
}

.mainnav {
    font-size: 1.1em;
}

.subnav {
    text-align: right;
    font-size: 0.9em;
    //padding-bottom: 15px;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#nav {
  font-size: 1.5rem;

  .subnav {
    font-size: 1rem;
  }
}

#nav-small {
    ul {
        display: inline-block;
    }
    .subnav {
        float: right;
    }
}
