inventory_node_id,hostname,ip,bonding_account_address,bonding_mnemonic,bonding_account_amount,node_account_amount,identity_key,operator_cost,node_account_address,node_account_balance
node1,nym-exit.node1.example.com,1.2.3.4,n1...,word1 word2 ...,100,5,5XjrYTR...,40,,
node2,nym-exit.node2.example.com,5.6.7.8,n1...,word1 word2 ...,100,5,5ZWdDN9...,40,,