hostname,ip,account,mnemonic,identity_key,amount,operator_cost
nym-exit.node1.example.com,1.2.3.4, n1...,word1 word2 ...,5XjrYTR...,100000000unym,40000000unym
nym-exit.node2.example.com,5.6.7.8,n1...,word1 word2 ...,5ZWdDN9...,100000000unym,40000000unym