:root {
  --mono-font: Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace;
}

.coal {
  --fg: #f2f2f2;
  --sidebar-fg: #f2f2f2;
  --sidebar-active: #fb6e4e;
  --icons-hover: #fb6e4e;
  --links: #fb6e4e;

  ::selection {
    color: #121726;
    background-color: #c5573d;
  }

  select option {
    background-color: #121726;
  }
}

.light {
  --sidebar-active: #fb6e4e;
  --icons-hover: #fb6e4e;
  --links: #fb6e4e;

  ::selection {
    color: #f2f2f2;
    background-color: #c5573d;
  }
}

/*properly centering the title given the additional header items*/
.menu-title {
  left: 45%;
}

.menu-bar .a:hover,

/*necessary because of ^*/
.right-buttons {
  position: absolute;
  right: 0;
}

select {
  font-size: 16px;
}



footer {
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid black;
  padding: 5px 0;
}
