/* last resort for styles that cannot be handled by Material UI and Emotion JS */

/* TODO - this override should take place in either
the theme declaration in index.tsx or the style prop
in <DataGrid /> */

.MuiDataGrid-sortIcon {
    display: none !important;
}

.MuiDataGrid-columnSeparator {
    visibility: hidden;
}

/* TODO - this should be disabled somehow in MUI DataGrid
but documentation doesnt offer an obvious way to do it. Possibly only
included in Data Grid Pro package */
.MuiDataGrid-header-override {
    height: 55px;
    min-height: 55px;
}

/* Unable to style nested MUI paper within the Drawer
so styling manually here */
div.MuiDrawer-root > .MuiDrawer-paperAnchorLeft {
    background-color: #111826;
}