<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nym Client Demo</title>
</head>

<body>
    <p>
        <div id="output">Loading JavaScript...</div>
    </p>
    <p>
        Fetched messages: <span id="fetch">none<div>
    </p>
    <script src="bundle.js"></script>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <h1> <%= htmlWebpackPlugin.options.myPageHeader %> </h1>
    <h3>Welcome to the Awesome application</h3>

    <my-app></my-app>

</body>

</html>